.ais-SearchBox {
  position: absolute;
  top: 0;
  right: 0;
}

.ais-SearchBox-input {
  width: 400px;
  height: 50px;
  border: 1px solid #ffffff7c;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 30px;
  right: 45px;
  color: #fff;
  padding: 10px;
}

.ais-SearchBox-input:focus {
  outline-color: #d19b18;
}

.ais-SearchBox-submit {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff7c;
  border-left: none;
  border-radius: 0 20px 20px 0;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 45px;
  padding: 5px;
  cursor: pointer;
}

.ais-SearchBox-submitIcon {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  fill: #ffffff7c;
}

.ais-SearchBox-submitIcon:hover {
  fill: #d19b18;
  transition: ease 0.5s;
}

.ais-SearchBox-reset {
  width: 30px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 90px;
  width: 50px;
  height: 40px;
}

.ais-SearchBox-resetIcon {
  width: 25px;
  height: 25px;
  margin-top: 13px;
  fill: #ffffff7c;
}

.ais-Hits {
  margin-top: 140px;
}

.ais-Hits-list {
  height: 950px;
  overflow: auto;
}

.ais-Hits-item {
  border: 1px solid #ffffff5f;
  border-radius: 3px;
  margin-bottom: 1px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
}

.ais-Hits-item:hover {
  background-color: #706e6bf3;
}
