.menu-toggle {
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.nav-overlay {
  position: fixed;
  background: url("./side.png") no-repeat center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  color: #fff;
  z-index: -1;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 4em;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

.hamBox {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s ease;
}

.hamBox:hover {
  background: #2a2a2f;
  color: #d19b18;
}

.hamBoxOpen {
  background: #2a2a2f;
}

.lineTop,
.lineBottom {
  margin: 0 auto;
  position: absolute;
  display: block;
  width: 14px;
  height: 2px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  left: 0;
  right: 0;
  transform: rotate(0deg);
  transition: all 0.4s;
}

.lineTop {
  top: 1em;
}

.lineBottom {
  bottom: 1em;
}

.lineTop.spin {
  top: 0.875em;
  transform: rotate(135deg);
  background: #fff;
}

.lineBottom.spin {
  bottom: 0.875em;
  transform: rotate(225deg);
  background: #fff;
}

/* Search */

.ais-SearchBox {
  position: absolute;
  top: 0;
  right: 0;
}

.ais-SearchBox-input {
  width: 200px;
  height: 40px;
  border: 1px solid #ffffff7c;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 30px;
  right: 45px;
  color: #fff;
  padding: 10px;
}

.ais-SearchBox-input:focus {
  outline-color: #d19b18;
}

.ais-SearchBox-submit {
  width: 50px;
  height: 40px;
  border: 1px solid #ffffff7c;
  border-left: none;
  border-radius: 0 10px 10px 0;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 45px;
  padding: 5px;
  cursor: pointer;
}

.ais-SearchBox-submitIcon {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  fill: #ffffff7c;
}

.ais-SearchBox-submitIcon:hover {
  fill: #d19b18;
  transition: ease 0.5s;
}

.ais-SearchBox-reset {
  width: 30px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 90px;
  width: 50px;
  height: 40px;
}

.ais-SearchBox-resetIcon {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  fill: #ffffff7c;
}

.ais-Hits {
  margin-top: 120px;
}

.ais-Hits-list {
  height: 1000px;
  overflow: auto;
}

.ais-Hits-item {
  border: 1px solid #ffffff5f;
  border-radius: 3px;
  margin-bottom: 1px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
}

.ais-Hits-item:hover {
  background-color: #706e6bf3;
}
